build
dist / media
node_modules
.DS_Store
.env
.next
.vercel
.vscode
.npmrc
.prettierrc.json
.components.json
.prettierignore
.eslint.config.mjs
next-env.d.ts
*.log
public
.editorconfig
next-sitemap.config.cjs
next.config.js
package-lock.json
postcss.config.js
README.md
tailwind.config.mjs
redirects.js
running-blog.db
tsconfig.json


# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
